
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: rgb(221, 218, 218);

}

.container-title{
    background-color: rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
}

.title{
    padding: 20px 10px;
    width: 500px;
    text-align: start;
    margin: auto;
}

.container-cards{
    display: block;

 
}

.card{
    background-color: white;
    display: flex;
    flex-direction:column;
    width: 500px;
    margin: 60px auto;
}

.title-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.card-title-left{
    font-weight: 800;
}

.card-date-right{
    color: rgb(168, 166, 166);
}

.image-card img{
    width: 100%;
}

.descrip-card{
    padding: 20px 10px;

}


